@font-face {
    font-family: Source Sans;
    src: url(./fonts/SourceSansPro-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./fonts/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: light;
    src: url(./fonts/SourceSansPro-Light.otf);
}
@font-face {
    font-family: italic;
    src: url(./fonts/SourceSansPro-ExtraLight.otf);
}
@font-face {
    font-family: semi;
    src: url(./fonts/SourceSansPro-Semibold.otf);
}

body {
    margin: 0px;
    font-family: Source Sans;
}
.hero-image {
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;

}

/* header-styling */
header {
    display: flex;
    justify-content: space-around;
}

/* nav kinks styling */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

.logo img {
    width: 200px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
















/* mdeia queries */
/* destop */
@media  screen and (min-width: 1280px) {

}



/* tablet */
@media (max-width: 700px) and (min-width: 1000px){
 
}




/* smart phone */
@media screen and (max-width: 420px) {
.icons {
    grid-template-columns: 1fr;
  }
}